<div ng-hide="shoppingCart.products.length <= 0">
    <div class="row" ng-repeat="product in shoppingCart.products">
        <div class="col-md-8">
            <cd-cart-product info="product"></cd-cart-product>
        </div>
        <div class="col-md-1">
            <a class="btn btn-danger" ng-click="shoppingCart.removeProduct($index)"><i class="fa fa-times"></i></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr></hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-7">
            <b>Total: {{ shoppingCart.total | currency }}</b>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-7">
            <a ng-href="#/order" class="btn-lg btn-success">Order</a>
        </div>
    </div>
</div>
<div class="row" ng-hide="shoppingCart.products.length > 0">
    <div class="col-md-12">
        <p>You should definitely buy something...</p>
    </div>
</div>