<div>
    <form novalidate name="registerForm" class="css-form" ng-submit="saveUser()">
        <fieldset>
            <div class="row">
                <div class="col-md-1 col-md-offset-4">
                    <label for="userName">Username</label>
                </div>
                <div class="col-md-2">
                    <input ng-model="user.userName"  id="userName" name="username" class="form-control" type="text" placeholder="Username" ng-change="checkAvailable()" ng-minlenght="3" autofocus required/>
                </div>
                <div class="col-md-2" ng-if="!available && user.userName.length >= 3">
                    <alert type="danger"><i class="fa fa-times"></i> Oops the username is not available!</alert>
                </div>
                <div class="col-md-2" ng-if="registerForm.username.$touched && registerForm.username.$error.required">
                    <alert type="danger"><i class="fa fa-times"></i> Don't forget to fill in your username!</alert>
                </div>
                <div class="col-md-2" ng-if="available && user.userName.length >= 3">
                    <alert type="success"><i class="fa fa-check"></i> Username is available!</alert>
                </div>
            </div>
            <div class="row">
                 <div class="col-md-1 col-md-offset-4">
                    <label for="password">Password</label>
                </div>
                <div class="col-md-2">
                    <input ng-model="user.password" id="password" name="password" class="form-control" type="password" placeholder="Password" required/>
                </div>
                <div class="col-md-2" ng-if="registerForm.password.$touched && registerForm.password.$error.required">
                    <alert type="danger"><i class="fa fa-times"></i> Don't forget your password!</alert>
                </div>
            </div>
            <div class="row">
                 <div class="col-md-1 col-md-offset-4">
                    <label for="name">Naam</label>
                </div>
                <div class="col-md-2">
                    <input ng-model="user.fullName" id="name" name="name" class="form-control" type="text" placeholder="Full name" required/>
                </div>
                 <div class="col-md-2" ng-if="registerForm.name.$touched && registerForm.name.$error.required">
                    <alert type="danger"><i class="fa fa-times"></i> Don't forget to enter your name!</alert>
                </div>
            </div>
            <div class="row">
                 <div class="col-md-1 col-md-offset-4">
                    <label for="address">Address</label>
                </div>
                <div class="col-md-2">
                    <input ng-model="user.address" id="address" name="address" class="form-control" type="text" placeholder="Address" required/>
                </div>
                 <div class="col-md-2" ng-if="registerForm.address.$touched && registerForm.address.$error.required">
                    <alert type="danger"><i class="fa fa-times"></i> Don't forget to enter your email!</alert>
                </div>
            </div>
            <div class="row">
                 <div class="col-md-1 col-md-offset-4">
                    <label for="city">City</label>
                </div>
                <div class="col-md-2">
                    <input ng-model="user.city" id="city" name="city" class="form-control" type="text" placeholder="City" required/>
                </div>
                 <div class="col-md-2" ng-if="registerForm.city.$touched && registerForm.city.$error.required">
                    <alert type="danger"><i class="fa fa-times"></i> Don't forget to enter your city!</alert>
                </div>
            </div>
             <div class="row">
                 <div class="col-md-1 col-md-offset-4">
                    <label for="email">Email</label>
                </div>
                <div class="col-md-2">
                    <input ng-model="user.email" id="email" name="email" class="form-control" type="email" placeholder="Email" required/>
                </div>
                 <div class="col-md-2" ng-if="registerForm.email.$touched && registerForm.email.$error.required">
                    <alert type="danger"><i class="fa fa-times"></i> Don't forget to enter your email! E.g. "test@test.com"</alert>
                </div>
            </div>
            <div class="row">
            	<div class="col-md-2 col-md-offset-4">
            		<button ng-disabled="!available || registerForm.$invalid" class="btn-lg btn-primary" type=submit>Register</button>
            	</div>
            </div>
        </fieldset>
    </form>
</div>