h1 {
	color: red;
}

.dropdown-menu#cart-dropdown {
    min-width: 300px;
    padding: 10px;
}
a.btn-lg {
    display: inline-block;
}
a.btn {
    display: inline-block;
}

#navlink {
    display: inline-block;
    margin-top: 15px;
}
