h3 {
	color: #285dab;
}

.dropdown-menu#cart-dropdown {
    min-width: 300px;
    padding: 10px;
}
a.btn-lg {
    display: inline-block;
}
a.btn {
    display: inline-block;
}

#navlink {
    display: inline-block;
    margin-top: 15px;
}

.row {
    margin-bottom: 5px;
}

td .form-control {
    max-width: 80px;
}

.navbar-default a.navbar-brand{
    font-family: 'Indie Flower', cursive;
    font-size: 16pt;
    color: #FF4500;
}

.error{
    background-color: #FA787E;
}

.alert{
    padding: 6px 12px;
}

.nav-item {
    display: inline-block;
    margin-top: 15px;
}