<div ng-hide="shoppingCart.products.length == 0">
    <div class="row" >
        <div class="col-md-8 col-md-offset-2">
            <table class="table">
                <thead>
                    <th>
                        Product
                    </th>
                    <th>
                        Amount
                    </th>
                    <th>
                        Total
                    </th>
                </thead>
                <tbody>
                    <tr ng-repeat="product in shoppingCart.products">
                        <td>
                            {{ product.product.name }}
                        </td>
                        <td>
                            <input type="number" min="1" max="10" ng-model="product.amount" ng-mouseup="shoppingCart.calculateCartProductTotal(product)"/>
                        </td>
                        <td>
                            {{ product.total | currency }}
                        </td>
                        <td>
                            <button class="btn btn-danger" ng-click="shoppingCart.removeProduct($index)"><i class="fa fa-times"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-9">
            <b>Total: {{ shoppingCart.total | currency }}</b>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-9">
             <a class="btn-lg btn-success" ng-click="placeOrder()">Confirm Order</a>
        </div>
    </div>
</div>
<div ng-show="shoppingCart.products.length == 0">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <p>Nothing to order... <b>yet!</b>. Check out the <a href="#/shop">shop</a>!</p>
        </div>
    </div>
</div>